/* mulish font */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
  *{
    font-family: 'Mulish', sans-serif;
  }

/* shared styles */
.shared-color{
    color: #FF5400;
}
.shared-font2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.shared-styles-2{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.writing-style{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
/* header styles */
header{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-left{
    display: flex;
    gap: 17px;
}
.banner-right >ul{
    display: flex;
}
.banner-right li{
    list-style: none;
    margin-right: 44px;
    font-weight: 400px;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-right a{
    text-decoration: none;
    font-weight: 400;

}
.home-banner{color: #FF5400;}
.explore{
    background: url('./Images/Group\ 13\ \(1\)\ \(1\).png') center/cover no-repeat, linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    max-width:1440px;
    height: 600px;
    padding-top: 20px;
    border-radius: 16px;
    border: 16px 16px 16px 16px;
   
    
}
.explore-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    max-width: 596px;
    margin: 0 auto;
}
.input-container{
    background: rgba(255, 255, 255, 0.30);
    background-repeat: no-repeat;
    padding-left: 260px;
    display: flex;
    
}

.input-container input{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}
.input-container select{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
}
.orange-container input{

    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FF5400;
}

/* main section */
main{
    max-width: 1440px;
    margin: 0 auto;

}
.popular-tour{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.popular-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.our-popular-tour{
    margin: ;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 100px;
    
}
.button-1{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
}
.banner-clg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-clg{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tour-choose{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.image-collage{
    margin-top: 100px;
}
.shared-font{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.image-1{
    background-image: url('./Images/Rectangle\ 5.png');
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
.image-2{
    background-image: url('./Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
.row-1{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.image-3{
    background-image: url(./Images/Rectangle\ 6.png);
    width: 374px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;

}
.image-4{
    background-image: url('./Images/Rectangle\ 7.png');
    width: 474px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px; 
}
.image-5{
    background-image: url('./Images/Rectangle\ 9.png');
    width: 274px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px; 
}
.row-2{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
}
.image-6{
    background-image: url('./Images/Rectangle\ 11.png');
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px; 

}
.image-7{
    background-image: url('./Images/Rectangle\ 10.png');
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px; 
}
.row-3{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
    
    margin-top: 25px;}
    .banner-title{
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .banner-2-des{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */

    }
    .firstbox{
        width: 573px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }
    .secondbox{
        width: 573px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }
    .first-two{
        display: flex;
        justify-content: space-between;
    }
    .thirdbox{
        width: 573px;
        height: 284px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }
    .lastone{
        max-width: 573px;
        margin: 0 auto;
    }
    .why-choose{
        margin-top: 160px;
    }
    .left-title{
        color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .first-two-input{
        width: 393px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        align-items: center;
    }
    .button-last{
        width: 393px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        
    }
    .leftside{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .first-two-input{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .newsletter{
        width: 1440px;
        margin: 0 auto;
        background: #FFF;
        border: 2px solid coral;
    }
    .travel-font{
        transform: rotate(-19.628deg);
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .travel-font-2{
        transform: rotate(-19.628deg);
        color: #FFF;
        font-family: Mulish;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .rightside{
        
        background-image: url(./Images/Rectangle\ 8\ \(1\).png);
        width: 672px;
        height: 422px;
        flex-shrink: 0;
        border-radius: 16px;
        
    }
    .duitarBack{
        width: 324px;
        height: 120px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;

    }
    .newsletter{
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }



/* responsive styles */
@media screen and (max-width:600px) {
    .banner-left{
        font-size: 21.543px;
    }
    .banner-right{
        display: none;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
    }
    .input-container div{
        padding-right: 120px;
    }
    .our-popular-tour{
        display: flex;
        flex-direction: column;
    }
    .popular-title{
        margin-right: 140px;
    }
    .image-container{
        display: flex;
        flex-direction: column;
    }
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .row-1 div{
        width: 100%;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat
    }
    .row-2 div{
        width: 100%;
    }
    .row-3{
        display: flex;
        flex-direction: column;
    }
    .row-3 div{
        width: 100%;
    }
    .banner-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .first-two{
        display: flex;
        flex-direction: column;
        width: 100%
    }
    